// app global css in SCSS form

  .bold {
    font-weight: bolder;
  }

  .green {
    color: #090;
  }

  .brown {
    color: #c93;
  }

  .blue {
    color: #009;
  }

  .gold {
    color: #a90;
  }

  body {
  	font-size: 18px;
  }